flask==2.3.3
flask-sqlalchemy==3.0.5
flask-cors==4.0.0
flask-bcrypt==1.0.1
python-dotenv==1.0.0
numpy==1.24.3
opencv-python-headless==4.8.1.78
gunicorn==21.2.0
pymysql==1.1.0
Werkzeug==2.3.7

# ADD THESE:
typing-extensions==4.8.0
ultralytics==8.0.196
pandas==2.0.3
tensorflow==2.13.0
onnxruntime==1.16.0
uuid==1.30